@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";



@theme {
  
      --font-space: 'space grotesk', 'sans-serif'
}
 @keyframes scroll {
   0% {
     transform: translateX(0);
   }

   100% {
     transform: translateX(-100%);
   }
 }
 .container {
   @apply mx-auto w-[100%];
}